@font-face {
  font-family: 'Georgia Sans Light';
  src: url('../fonts/GeosansLight.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
  font-family: 'Conthrax';
  src: url('../fonts/conthrax-sb.otf');
}

@font-face {
  font-family: 'Robots Revenge';
  src: url('../fonts/Robots\ Revenge\ Italic.ttf');
}

html {
  background-color: #0c0c0c;
  color: #FFF;
}

html, body, #root {
  height: 100%;
  font-family: 'Nunito';
  font-size: 14pt;
  font-weight: 100;
}

div {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.App {
  height: 100%;
}

.section:nth-child(odd) {
  background-color: #141414;
}

.section {
  width: 100%;
  min-height: 20vh;
  position: relative;
}

.section-divide {
  display: grid;
  padding: 10vh 5vw;
  padding-right: 0;
  grid-template-columns: 33% 1fr;
  column-gap: 2vw;
}

.section-description {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.section-more {
  align-self: end;
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-style: italic;
  color: #FFF;
  font-weight: 600;
  width: fit-content;
  transition: 200ms;
}

.section-more:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 200ms;
}

/*START - Header*/

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#header-bars {
  display: none;
  font-size: 18pt;
}

.header-link-container {
  display: flex;
  justify-content: flex-end;
}

.header-link {
  text-decoration: none;
  color: #FFF;
  font-family: 'Georgia Sans Light';
  font-size: 18pt;
  margin: 2vh 2vw;
  transition: ease-in-out 300ms;
}

.header-link:hover {
  transform: scale(1.14);
}

/* START - Start Page*/

.start-page {
  position: relative;
}

.start-page-background {
  background-color: #000;
  overflow: hidden;
}

.start-page-background > img {
  max-height: 90vh;
  min-height: 600px;
  height: auto;
  width: 100%;
  opacity: .7;
}

.start-page-title {
  position: absolute;
  top: 50%;
  left: 12%;
  font-size: 60pt;
  color: #FFF;
  font-family: 'Robots Revenge';
  transform: translateY(-50%);
  background: rgba(230, 230, 230, .5);
  padding: 15px;
  border-radius: 15px;
}

.start-page-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* START - CAROUSEL */

h1, h2 {
  font-family: 'Conthrax';
  margin: 0;
}

.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex: 1;
  position: relative;
  left: 0;
  transition: 500ms;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32pt;
  color: #FFF;
  z-index: 3;
  transition: 200ms;
}

.carousel-control:hover {
  cursor: pointer !important;
  transform: translateY(-50%) scale(1.25);
  transition: 200ms;
}

.carousel-right {
  right: 3vw;
}

.overlay-fade {  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: calc(37% + 26vw);
  background: linear-gradient(90deg, rgba(221,220,226,0) 0%, rgba(12, 12, 12, 1) 90%);
  z-index: 2;
}

/* SKILL-BALL */

.skill-container {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}

.skill-container:hover {  
  transform: scale(1.15);
}

.skill {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
  font-weight: 600;
}

.skill:hover {
}

/* PROJECT-CARD */

.project-card {
  height: 100%;
  width: 25vw;
  min-width: 300px;
  border-radius: 20px;
  background-color: #2b2b2b;
  margin-right: 60px;
  padding: 1vw;
  transition: 300ms;
}

.project-card:hover {
  cursor: pointer;
  filter: brightness(120%);
  transition: 300ms;
}

.project-card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-card-header > div {
  display: flex;
  position: relative;
}

.awards {  
  justify-content: right;
  align-items: center;
}

.award {
  z-index: 2;
  margin-left: 10px;
}

.award-description {
  opacity: 0;
  position: absolute;
  top: 20px;
  background-color: rgba(0,0,0, .5);
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  font-weight: 500;
  transition: 400ms;
}

.award:hover + .award-description {
  opacity: 1;
  transition: 400ms;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  .start-page-background > img {
    min-height: 0px;
    height: 500px;
    width: auto;
  }

  .start-page-title {
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);  
    -webkit-animation-name: none;
    animation-name: none; 
  }

  #header-bars {
    display: block;
    margin: 10px;
    align-self: flex-end;
  }

  .header-link-container {
    text-align: center;
    flex-direction: column;
    max-height: 0px;
    transition: 250ms;
    overflow: hidden;
    width: 100%;
  }

  .header-link {
    margin: 20px;
  }

  .header {
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
  }
}
