@font-face {
    font-family: 'Georgia Sans Light';
    src: url('../fonts/GeosansLight.ttf');
}

@font-face {
    font-family: 'Robots Revenge';
    src: url('../fonts/Robots\ Revenge\ Italic.ttf');
}

html {
    background-color: #0c0c0c;
}

html, body, #root {
    height: 100%;
}

.flex {
    display: flex;
}