.header {
    padding: 0 2vw;
    background-color: #333;
    height: 15vh;
    min-height: 100px;
    display: grid;
    grid-template-columns: auto auto;
    color: #FFF;
    font-family: 'Georgia Sans Light';
    font-size: 16pt;
}

.header > div {
    display: flex;
    align-items:center;
}

.header-commands {
    justify-self: end;
}

.header-button {
    margin: 0 1vw;
    transition: ease-in-out 250ms;
}

.header-button:hover {
    transform: scale(1.2);
    transition: ease-in-out 250ms;
}

.header-link {
    text-decoration: none;
    color: inherit;
}
