#projects-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    display: none;
    opacity: 0;
    transition: 500ms;
}

.projects {
    overflow-x: auto;
}

.projects-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 20px;
}

.projects-goback {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #FFF;
}

.project-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-input-container {
    display: flex;
    justify-content: center;
    width: 100%;    
}

.search-input {
    width: 70%;
    padding: 7px 20px;
    font-family: 'Nunito';
    font-size: 14pt;
    color: #AAA;
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 15px;
    text-align: center;
}

.tags {
    display: flex;
    white-space: nowrap;
    justify-content: safe center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px;
    width: 90%;
}

.tags::-webkit-scrollbar {
    height: 0.1vw;
    margin: 10px;
    transition: 200ms;
}

.tags:hover::-webkit-scrollbar {
    height: 0.2vw;
    transition: 200ms;
}

.tags::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

.tag {
    padding: 1px 7px;
    background-color: #444;
    color: #BBB;
    border-radius: 5px;
    margin: 1vw .5vw 0 .5vw;
    user-select: none;
    transition: 400ms;
}

.tag:hover {
    transition: 400ms;
    background-color: #666;
    transform: scale(1.15);
    cursor: pointer;
}

.active {
    background: linear-gradient(135deg, rgb(171, 35, 235) 0%, rgb(38, 191, 202) 100%);
    color: #FFF;
}

.division {
    margin: 3vh 0;
    border-bottom: 1px solid #666;
}

.projects-container {
    padding: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    width: 500px;
    height: 300px;
    overflow: hidden;
    transition: 200ms;
    margin-bottom: 3vh;
}

.project-info-container {
    position: relative;
    bottom: 85px;
}

.project-image {
    display: flex;
    position: relative;
    right: 0;
    transition: 200ms;
    height: 100%;
}

.project-image > img {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 200ms;
}

.project:hover {
    transform: scale(1.05);
    transition: 200ms;
    cursor: pointer;
}

.project:hover .project-image > img {    
    filter: brightness(100%);
}

.project-info {
    clip-path:polygon(0 -5%, 100% 0, 100% 100%, -3% 100%);
    width: 100%;
    height: 60px;
    padding: 5px;
    font-size: 12pt;
}

.project-info-tab {
    clip-path: polygon(60% 0, 100% 105%, 0 105%, -3% 0);
    height: 20px;
    width: 250px;
}

.project-offset::before {    
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: linear-gradient(135deg, rgb(171, 35, 235) 0%, rgb(38, 191, 202) 100%);
}

.project-info-tab::before {
    bottom: -10px;
}

.project-info-text {
    position: absolute;
    bottom: 10px;
    left: 5px
}

.project-title {
    font-size: 16pt;
    font-weight: 600;
}

.project-offset-container {
    margin-bottom: 10px;
}

.project-info-main {
    position: absolute;
    width: 100%;
    bottom: -5px;

}

.project-info-tab,
.project-info {
    background-color: #222;
}

.project-modal-hide {
    top: -100% !important;
    transition: 500ms;
}

.project-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    width: 50vw;
    height: 80%;
    background-color: #000;
    border-radius: 5vh;
    z-index: 3;
    overflow-y: auto;
    transition: 500ms;
}

.project-modal-header {
    display: flex;
    justify-content: right;
    padding: 20px 2.5vw;
    border-bottom: solid #444 1px;
}

.project-modal-close {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 18pt;
    transition: 200ms;
}

.project-modal-close:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: 200ms;
}

.project-big-carousel {
    position: relative;
    width: 80%;
    height: 22vw;
    margin: 30px auto;
}

.project-modal-image-container {
    width: 100%;
    height: 100%;
    flex-shrink: 0; 
}

.project-modal-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.images-container {  
    display: flex;
    position: relative;
    right: 0;
    width: 38vw;
    margin: 50px auto;
    overflow: hidden;
}

.images-container > img {
    width: 38vw;
    flex-shrink: 0;
    flex-grow: 0;
}
