.sidebar-container {
    background: linear-gradient(0deg, rgb(151, 40, 151), rgb(139, 14, 139), rgb(230, 58, 230), rgb(151, 40, 151), rgb(139, 14, 139), rgb(151, 40, 151), rgb(151, 40, 151), rgb(139, 14, 139), rgb(151, 40, 151), rgb(230, 58, 230), rgb(139, 14, 139), rgb(151, 40, 151));
    background-size: 100% 200%;
    animation: gradient 5s infinite;
}

.sidebar {
    width: calc(100% - 2px);
    height: 100%;
    margin-right: 2px;
    background-color: #222;
}

@keyframes gradient {
    0% {
        background-position-y: 0%;
    }

    50% {
        background-position-y: 100%;
    }

    100% {
        background-position-y: 200%;
    }
}